body {
    font-family: 'Montserrat', sans-serif;
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
}

img {
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        width: 100vw;
}